@import '_vars';

.container {
  max-width: 1280px;
  margin: 32px auto;
  padding: 16px;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 64px;

  h1 {
    padding-top: 32px;

    @media (max-width: 1023px) {
      text-align: center;
    }
  }
}

.item_back {
  background-color: $primary-blue;
  padding: 8px 16px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  transition: all .3s ease;

  &:hover {
    background-color: darken($primary-blue, 20);
  }
}

.item_info {
  display: flex;

  @media (max-width: 1023px) {
    flex-direction: column;
    align-items: center;
  }
}

.item_detail {
  display: flex;
  flex-direction: column;
  padding-bottom: 32px;
  margin: 0;
  span:first-child {
    font-weight: bold;
    font-size: 32px;
    border-bottom: 1px solid $off-black;
    margin-bottom: 8px;
  }
}

.item_left {
  margin-right: 64px;
  flex: 1 0 320px;
  padding-bottom: 32px;

  img {
    max-width: 100%;
    object-fit: contain;
  }

  @media (max-width: 1023px) {
    margin-right: 0;
    flex: 0 1 auto;
  }
}
